@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: right 0.5rem center;
		background-size: 1em;
	}
}

@layer base {
	:root {
		--background: 208 58% 95%;
		--foreground: 208 5% 10%;
		--card: 208 50% 90%;
		--card-foreground: 208 5% 15%;
		--popover: 208 58% 95%;
		--popover-foreground: 208 95% 10%;
		--primary: 208 100% 41%;
		--primary-foreground: 0 0% 100%;
		--secondary: 208 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 170 30% 85%;
		--muted-foreground: 208 5% 35%;
		--accent: 170 30% 80%;
		--accent-foreground: 208 5% 15%;
		--destructive: 0 58% 30%;
		--destructive-foreground: 208 5% 90%;
		--border: 208 30% 50%;
		--input: 208 30% 18%;
		--ring: 208 100% 41%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 208 50% 10%;
		--foreground: 208 5% 90%;
		--card: 208 50% 10%;
		--card-foreground: 208 5% 90%;
		--popover: 208 50% 5%;
		--popover-foreground: 208 5% 90%;
		--primary: 208 100% 41%;
		--primary-foreground: 0 0% 100%;
		--secondary: 208 30% 17%;
		--secondary-foreground: 0 0% 100%;
		--muted: 170 30% 17%;
		--muted-foreground: 208 5% 60%;
		--accent: 170 30% 17%;
		--accent-foreground: 208 5% 90%;
		--destructive: 0 58% 30%;
		--destructive-foreground: 208 5% 90%;
		--border: 208 30% 18%;
		--input: 208 30% 18%;
		--ring: 208 100% 41%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
